name: ouisync_app
description: Secure, open source, peer-to-peer file-sharing

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.8.4+68

environment:
  sdk: ^3.5.1
  flutter: ^3.24.1

dependencies:
  android_alarm_manager_plus: ^4.0.3
  archive: ^3.3.7
  args: ^2.6.0
  async: ^2.11.0
  auto_size_text: ^3.0.0
  badges: ^3.1.2
  biometric_storage: ^5.0.1
  bloc_test: ^9.0.3
  build_context_provider: ^1.1.0
  collection: ^1.18.0
  connectivity_plus: ^6.0.5
  cross_file: ^0.3.3
  cryptography: ^2.7.0
  cryptography_flutter: ^2.3.2
  cupertino_icons: ^1.0.4
  desktop_drop: ^0.4.1
  device_info_plus: ^10.1.1
  dns_client: ^0.2.1
  equatable: ^2.0.3
  ffi: ^2.0.1
  file: ^7.0.0
  file_picker: ^8.1.2
  flutter:
    sdk: flutter
  flutter_bloc: ^8.0.1
  flutter_breadcrumb: ^1.0.1
  flutter_email_sender: ^6.0.0
  flutter_file_dialog: ^3.0.2
  flutter_hooks: ^0.20.0
  flutter_localizations:
    sdk: flutter
  flutter_loggy: ^2.0.1
  flutter_password_strength: ^0.1.6
  flutter_secure_storage: ^9.2.2
  intl: ^0.19.0
  intro_slider: ^4.2.0
  introduction_screen: ^3.1.14
  launch_at_startup: ^0.3.1
  local_auth: ^2.3.0
  locale_names: ^1.1.1
  loggy: ^2.0.1+1
  meta: ^1.10.0
  mime: ^1.0.6
  mobile_scanner: ^5.2.1
  # move_to_background: ^1.0.2
  # - Upgrade Gradle to 8.5.2, minSdk=21, targetSdk and compileSdk to 34;
  # - Fix deprecation warning
  #
  # This package contains one PR from August 2022, and one from February 2024 
  # So it was best to just updagre de Android project in a forked repo
  move_to_background:
    git: 'https://github.com/J-Pabon/move_to_background'
  mutex: ^3.1.0
  network_info_plus: ^6.0.1
  ouisync:
    path: ouisync/bindings/dart
  package_info_plus: ^8.0.1
  path: ^1.8.2
  path_provider: ^2.1.2
  percent_indicator: ^4.2.2
  permission_handler: ^11.0.1
  qr_flutter: ^4.0.0
  receive_sharing_intent: ^1.8.0
  result_type: ^1.0.0
  sentry_flutter: ^8.10.1
  settings_ui: ^2.0.2
  share_plus: ^10.0.2
  shared_preferences: ^2.3.2
  shelf: ^1.4.1
  stack_trace: ^1.11.1
  stream_transform: ^2.1.0
  styled_text: ^8.1.0
  system_tray: ^2.0.3
  udp: ^5.0.3
  url_launcher: ^6.2.6
  watcher: ^1.1.0
  webview_flutter: ^4.10.0
  webview_flutter_android: ^4.0.2
  webview_flutter_wkwebview: ^3.16.2
  win32: ^5.0.7
  window_manager: ^0.4.2
  windows_single_instance: ^1.0.1

dev_dependencies:
  build_runner: ^2.4.11
  connectivity_plus_platform_interface: ^2.0.1
  date_format: ^2.0.9
  flutter_test:
    sdk: flutter
  git: ^2.2.1
  github: ^9.19.0
  golden_toolkit: ^0.15.0
  hex: ^0.2.0
  icons_launcher: ^3.0.0
  image: ^4.1.3
  integration_test:
    sdk: flutter
  # Use this command to generate internationalization files if you're not using
  # the vscode plugin:
  # # dart run intl_utils:generate
  intl_utils: ^2.6.1
  lints: ^4.0.0
  msix: ^3.16.8
  path_provider_platform_interface: ^2.1.2
  properties: ^2.1.0
  pub_semver: ^2.1.4
  pubspec_parse: ^1.2.3
  test: ^1.25.7

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:
  generate: true
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/ouisync_icon.png
    - assets/favicon.ico
    - assets/add_with_qr.png
    - assets/nothing_here_yet.png
    - assets/locked_repo.png
    - assets/empty_folder.png
    - assets/eq_logo.png
    - assets/01_onboarding_send_receive_files.png
    - assets/02_onboarding_permissions_collaborate.png
    - assets/03_onboarding_access_multiple_devices.png
    - assets/Ouisync_v1_1560x1553.png
    - assets/OuisyncFull.png
    - assets/sort_asc.png
    - assets/sort_desc.png
    # - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true

msix_config:
  display_name: Ouisync
  logo_path: .\assets\Ouisync_v1_1560x1553.png
  start_menu_icon_path: .\assets\Ouisync_v1_1560x1553.png
  tile_icon_path: .\assets\Ouisync_v1_1560x1553.png
  app_installer: #<-- app installer configuration
    publish_folder_path: .\installers
    hours_between_update_checks: 0
    automatic_background_task: true
    update_blocks_activation: true
    show_prompt: true
    force_update_from_any_version: false
    capabilities: internetClientServer, privateNetworkClientServer,
      removableStorage, documentsLibrary
  msix_config: publisher
