<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <provider
        tools:replace="android:authorities"
        android:name="org.equalitie.ouisync.PipeProvider"
        android:authorities="${applicationId}.pipe"
        android:exported="true"/>
    </application>
</manifest>
