gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
/app/.cxx/cmake/debug/arm64-v8a/.ninja_deps
/app/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
/app/.cxx/cmake/debug/x86/.ninja_deps
/app/.cxx/cmake/debug/x86_64/.ninja_deps
/app/.cxx/cmake/debug/arm64-v8a/.ninja_log
/app/.cxx/cmake/debug/armeabi-v7a/.ninja_log
/app/.cxx/cmake/debug/x86/.ninja_log
/app/.cxx/cmake/debug/x86_64/.ninja_log
/app/.cxx/abi_configuration_72w3k6c7.json
/app/.cxx/abi_configuration_72w3k6c7_key.json
/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
/app/.cxx/cmake/debug/x86/android_gradle_build.json
/app/.cxx/cmake/debug/x86_64/android_gradle_build.json
/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
/app/.cxx/cmake/debug/x86/android_gradle_build_mini.json
/app/.cxx/cmake/debug/x86_64/android_gradle_build_mini.json
/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_native_add_arm64-v8a.command.txt
/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_native_add_arm64-v8a.stderr.txt
/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_native_add_arm64-v8a.stdout.txt
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_native_add_armeabi-v7a.command.txt
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_native_add_armeabi-v7a.stderr.txt
/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_native_add_armeabi-v7a.stdout.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_native_add_x86.command.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_native_add_x86.stderr.txt
/app/.cxx/cmake/debug/x86/android_gradle_build_native_add_x86.stdout.txt
/app/.cxx/cmake/debug/x86_64/android_gradle_build_native_add_x86_64.command.txt
/app/.cxx/cmake/debug/x86_64/android_gradle_build_native_add_x86_64.stderr.txt
/app/.cxx/cmake/debug/x86_64/android_gradle_build_native_add_x86_64.stdout.txt
/app/.cxx/cmake/debug/arm64-v8a/build.ninja
/app/.cxx/cmake/debug/armeabi-v7a/build.ninja
/app/.cxx/cmake/debug/x86/build.ninja
/app/.cxx/cmake/debug/x86_64/build.ninja
/app/.cxx/cmake/debug/arm64-v8a/build_command.txt
/app/.cxx/cmake/debug/armeabi-v7a/build_command.txt
/app/.cxx/cmake/debug/x86/build_command.txt
/app/.cxx/cmake/debug/x86_64/build_command.txt
/app/.cxx/cmake/debug/arm64-v8a/build_model.json
/app/.cxx/cmake/debug/armeabi-v7a/build_model.json
/app/.cxx/cmake/debug/x86/build_model.json
/app/.cxx/cmake/debug/x86_64/build_model.json
/app/.cxx/cmake/debug/arm64-v8a/build_output.txt
/app/.cxx/cmake/debug/armeabi-v7a/build_output.txt
/app/.cxx/cmake/debug/x86/build_output.txt
/app/.cxx/cmake/debug/x86_64/build_output.txt
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/x86/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/x86_64/CMakeFiles/cmake.check_cache
/app/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
/app/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
/app/.cxx/cmake/debug/x86/cmake_install.cmake
/app/.cxx/cmake/debug/x86_64/cmake_install.cmake
/app/.cxx/cmake/debug/arm64-v8a/cmake_server_log.txt
/app/.cxx/cmake/debug/armeabi-v7a/cmake_server_log.txt
/app/.cxx/cmake/debug/x86/cmake_server_log.txt
/app/.cxx/cmake/debug/x86_64/cmake_server_log.txt
/app/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
/app/.cxx/cmake/debug/armeabi-v7a/CMakeCache.txt
/app/.cxx/cmake/debug/x86/CMakeCache.txt
/app/.cxx/cmake/debug/x86_64/CMakeCache.txt
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeSystem.cmake
/app/.cxx/cmake/debug/arm64-v8a/compile_commands.json
/app/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
/app/.cxx/cmake/debug/x86/compile_commands.json
/app/.cxx/cmake/debug/x86_64/compile_commands.json
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.bin
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.c
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.cxx
/app/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
/app/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
/app/.cxx/cmake/debug/x86/json_generation_record.json
/app/.cxx/cmake/debug/x86_64/json_generation_record.json
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/native_add.dir/Users/jorgepabon/Projects/ouisync_app/ios/Classes/native_add.cpp.o
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/native_add.dir/Users/jorgepabon/Projects/ouisync_app/ios/Classes/native_add.cpp.o
/app/.cxx/cmake/debug/x86/CMakeFiles/native_add.dir/Users/jorgepabon/Projects/ouisync_app/ios/Classes/native_add.cpp.o
/app/.cxx/cmake/debug/x86_64/CMakeFiles/native_add.dir/Users/jorgepabon/Projects/ouisync_app/ios/Classes/native_add.cpp.o
/app/.cxx/ndk_locator_record_4r4w183n_exception.txt
/app/.cxx/ndk_locator_record_4r4w183n_key.json
/app/.cxx/ndk_locator_record_41e26533.json
/app/.cxx/ndk_locator_record_41e26533_key.json
/app/.cxx/cmake/debug/arm64-v8a/prefab_config.json
/app/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
/app/.cxx/cmake/debug/x86/prefab_config.json
/app/.cxx/cmake/debug/x86_64/prefab_config.json
/app/.cxx/cmake/debug/arm64-v8a/rules.ninja
/app/.cxx/cmake/debug/armeabi-v7a/rules.ninja
/app/.cxx/cmake/debug/x86/rules.ninja
/app/.cxx/cmake/debug/x86_64/rules.ninja
/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/x86/CMakeFiles/TargetDirectories.txt
/app/.cxx/cmake/debug/x86_64/CMakeFiles/TargetDirectories.txt
